<h1 id="{{id}}">
  {{#app-helper}}{{title}}{{/app-helper}}
</h1>
{{> ./header-partial}}
{{!--
  TODO: Alias-prefixed partials don't work in webpack.

--}}
{{!--> custom-alias/templates/header-partial}--}}
